---
import Button from "./Button.astro";

const {
  date,
  title,
  subtitle,
  description,
  image,
  deploy,
  repository,
  video,
  technologies,
} = Astro.props;
---

<div
  class="relative flex flex-col lg:max-w-[36rem] rounded md:mx-12 lg:mx-12 bg-white dark:bg-gray-800 bg-clip-border text-gray-700 lg:shadow-lg p-4"
>
  <div
    class="relative m-4 lg:m-8 overflow-hidden text-white shadow-lg rounded bg-blue-gray-500 bg-clip-border"
  >
    <img src={image} alt="project img" />
    <div class="absolute inset-0 w-full h-full"></div>
  </div>
  <div class="p-6">
    <div class="flex items-center justify-between mb-3">
      <h5
        class="block font-sans text-xl antialiased font-medium leading-snug tracking-normal text-purple-900 dark:text-purple-300"
      >
        {title}
      </h5>
      <p
        class="flex items-center gap-1.5 font-sans text-xs font-normal leading-relaxed text-blue-gray-900 dark:text-gray-200 antialiased"
      >
        {date}
      </p>
    </div>
    <p
      class="flex items-center gap-1.5 font-sans text-xs font-normal leading-relaxed text-blue-gray-900 dark:text-gray-200 antialiased"
    >
      {subtitle}
    </p>
    <p
      class="block font-sans text-sm pt-2 antialiased font-light text-justify leading-relaxed text-gray-700 dark:text-gray-200"
    >
      {description}
    </p>

    <div
      class="inline-flex flex-wrap justify-center gap-1 md:gap-2 lg:gap-4 m-2 lg:m-4 group"
    >
      {
        Object.keys(technologies).map((key) => (
          <>
            <span
              title={technologies[key].toUpperCase().slice(0, -4)}
              class="rounded-full border border-purple-900/5 bg-gray-900/5 dark:bg-gray-300 p-4 text-gray-900 transition-colors "
            >
              <img src={technologies[key]} alt={key} class="size-6" />
            </span>
          </>
        ))
      }
    </div>
  </div>
  <div class="flex items-center justify-center gap-5 mb-2">
    {
      deploy ? (
        <Button>
          <a href={deploy} target="_blank" type="button">
            Visitar página
          </a>
        </Button>
      ) : (
        ""
      )
    }
    {
      repository ? (
        <Button>
          <a href={repository} target="_blank" type="button">
            Repositório
          </a>
        </Button>
      ) : (
        ""
      )
    }
    {
      video ? (
        <Button>
          <a href={video} target="_blank" type="button">
            Assistir video
          </a>
        </Button>
      ) : (
        ""
      )
    }
  </div>
</div>
